/*開始css*/

main{
padding: 20px;
}
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 300px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:100%;
  height:300px;
  background-color: white;
  border: 1px solid #000000;
}

#img{
  border: 1px solid red;
  width: 80%;
  margin: 20px auto;
  display: block;
}